<!-- templates/layout.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- This will be replaced by the title passed in -->
    <th:block th:replace="${title}"></th:block>
</head>
<body>
<!-- HEADER -->
    <div th:fragment="layout(title, section)">
        <header th:insert="~{fragments :: header}"></header>

        <!-- MAIN CONTENT -->
        <main th:replace="${section}"></main>

        <!-- FOOTER -->
        <footer th:insert="~{fragments :: footer}"></footer>


    </div>

</body>
</html>
