<!-- templates/students.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <!-- Title Fragment -->
    <th:block th:fragment="title">
        <title>Student List of Section 3 of Full Stack Java</title>
    </th:block>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{style.css}" />
</head>    
<body>
<div th:replace="~{layout :: layout(~{::title}, ~{::section})}">

  

    <!-- Main Content Fragment -->
    <th:block th:fragment="section">
        <h1>Student List</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th><th>First Name</th><th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${students}">
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.age}"></td>
                    
                </tr>
            </tbody>
        </table>
    
    <p th:text="'Total Students: ' + ${#lists.size(students)}"></p>
    <p th:if="${#lists.isEmpty(students)}">No students found.</p>

    </th:block>

    
    </div>
   
</body>
</html>
