<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">  
    <head>
        <title>My First Webpage</title>
    </head>
    <body>
        <h1>My First Heading</h1>
        <p>My first paragraph.</p>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th><th>First Name</th><th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${students}">
                    <td th:text="${student.id}">1</td>
                    <td th:text="${student.firstName}">First</td>
                    <td th:text="${student.lastName}">Last</td>
                </tr>
            </tbody>
        </table>
        <p th:text="'Total Students: ' + ${#lists.size(students)}"></p>
        <p th:if="${#lists.isEmpty(students)}">No students found.</p>
    
    </body>
</html>