<div *ngIf="students.length > 0; else noStudents">
  <table class="table table-striped" cellpadding="10" cellspacing="0"   style="width: 50%; margin: auto;
    border-collapse: collapse; border: 1px solid #ddd;">
    <tr><td>Students list</td></tr>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr *ngFor="let student of students">
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.age }}</td>
    </tr>
    </table>
</div>
<ng-template #noStudents>
  <p>No students found.</p>
</ng-template>